@font-face {
  font-family: FT88-school;
  src: url("./src/fonts/FT88-School.woff");
}

@font-face {
  font-family: Director;
  src: url("./src/fonts/Director-Regular.woff");
}

body {
  font-family: "Director";
  font-size: 1rem;
  padding: 20px;
  color: #01487e;
  background-image: radial-gradient(
    circle at 1px 1px,
    #01487e80 1px,
    transparent 0
  );
  background-size: 30px 30px;
}

a {
  color: inherit;
}

h1,
h2 {
  font-family: "FT88-school";
  margin: 0;
  padding-bottom: 5px;
}

table {
  border-collapse: separate;
  border-spacing: 0 2em;
}

td {
  border: 1px solid #01487e;
  max-width: 400px;
  padding: 20px;
  background-color: white;
}

tr {
  margin-bottom: 10px;
}

li {
  list-style-type: none;
}

.title {
  margin-top: 180px;
}

.navigation__list {
  padding-left: 0;
}

.blinkText {
  animation: blinker 1s step-start infinite;
  color: #79fe0c;
}

.navigation__button,
.navigation__button:visited {
  color: #f706af;
}

.symbol {
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  color: #01487e;
  margin: 12px 0;
}

.form__label {
  margin-bottom: 10px;
}

input {
  border: 1px solid #01487e;
}

.form__input {
  font-family: "Director";
  border: 1px solid #01487e;
  margin-bottom: 10px;
  padding: 10px;
  color: #01487e;
}

.form__button {
  border: 0;
  color: white;
  background-color: #01487e;
  font-family: "Director";
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  padding: 8px;
}

#flagRenderArea {
  position: absolute;
  left: 10px;
  top: 0;
}

.icon {
  text-decoration: none;
}

.image {
  max-height: 300px;
  max-width: 100%;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
